language: node_js
node_js:
  - 12
cache:
  directories:
    - node_modules
script:
  - yarn lint
  - yarn test --coverage
  - cat ./coverage/lcov.info | ./node_modules/coveralls/bin/coveralls.js
  - rm -rf ./coverage
before_deploy:
  - yarn build
deploy:
  edge: true
  provider: npm
  email: "$NPM_EMAIL_ADDRESS"
  api_key: "$NPM_API_TOKEN"
  skip_cleanup: true
  on:
    tags: true
    branch: master