<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, user-scalable=yes" />
    <title><%= htmlWebpackPlugin.options.title %></title>
    <meta
      name="description"
      content="A JavaScript library written in TypeScript to create isometric projections"
    />
  </head>
  <body>
    <header class="separator">
      <a
        href="https://github.com/elchininet/isometric-js"
        target="_blank"
        rel="noopener noreferrer"
      >
        <img class="logo" src="<%= htmlWebpackPlugin.options.logo %>" />
      </a>
    </header>
    <div class="github-buttons">
      <a
        class="github-button"
        href="https://github.com/elchininet/isometric-js/archive/master.zip"
        data-icon="octicon-cloud-download"
        data-size="large"
        aria-label="Download elchininet/isometric-js on GitHub"
        >Download</a
      >
      <a
        class="github-button"
        href="https://github.com/elchininet/isometric-js/fork"
        data-icon="octicon-repo-forked"
        data-size="large"
        aria-label="Fork elchininet/isometric-js on GitHub"
        >Fork</a
      >
      <a
        class="github-button"
        href="https://github.com/elchininet/isometric-js"
        data-icon="octicon-star"
        data-size="large"
        aria-label="Star elchininet/isometric-js on GitHub"
        >Star</a
      >
    </div>
    <div id="demo1" class="demo"></div>
    <div id="demo2" class="demo"></div>
    <script async defer src="https://buttons.github.io/buttons.js"></script>
  </body>
</html>
